<!DOCTYPE html>
<html>

<link rel = "stylesheet" href = "css/style.css">

<center><br><p class = "textcolor">

<br></p>

<p><a class="myButton" href='/player_1_name'>Get Started</a></p>
<body>
    <header>
        <style>
body {
    background-image: url('background.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
</style>
    </header>
 </body>   
</center>