

<link rel = "stylesheet" href = "css/style.css">

<center><br><p class = "textcolor">

<br></p>

<p><a class="myButton" href='/player_1_name'>Get Started</a></p>
<body onload = "playsound2()">
    <header>
        <style>
body {
    background-image: url('background.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
</style>
<div class= "form_div">
    <form  method= "post" action= "/the_new_one">
        <input class= "myButton" type= "submit" value = "The New Game!!">
    </form>
</div>
    </header>
<div id = "box2">
<%score.each do |row|%>		 
 <br>		
 <%row.each do |item|%>		 
 <%=item%>		 
 <%end%>		
 <br>		
 <%end%>


</div>
 </body> 
 <script src = "/js/auto_box.js">
</script>  
</center>
