<!doctype html>

<head>
<center><h1 class = "font_type font_size font_color"> TIC TAC TOE </h1><center>


</head>

<body>
<body class = "back_gr">
<center>
	<header>
	
	<h1 
	</p>
		<ul>
		<font size ="1">
            <li class = "textcolor2"><a href = "/player_1_name">Play Game</a></li>
        </ul>
        </font>
	</header>
	</center>
 

<%=yield%>

</body>
<center>
</center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer>
<div id = "box2">
<a href = "https://github.com/billyjack1988" target = "_blank"> Vist my Github</a>
</div>

</footer>
</html>


