<!doctype html>

<head>
<center><h1 class = "font_type font_size font_color"> TIC TAC TOE </h1><center>
</head>

<body>
<body class = "back_gr">
 

<%=yield%>

</body>

<footer>
<div id = "box2">
<a href = "https://github.com/billyjack1988" target = "_blank"> Vist my Github</a>
</div>

</footer>
</html>


